textarea {
    min-height: 400px;
}

.email_box {
    display: flex;
    border-style: solid;
}

.sender {
    font-weight: bold;
    margin-left: 5px;
}

.subject {
    margin-left: 15px;
}

.timestamp {
    font-weight: 100;
    margin-left: auto;
    margin-right: 5px;
}
